/* Luzes de Fundo */
@keyframes pulseLight { 
    0% { opacity: 0.5; transform: scale(0.9); } 
    100% { opacity: 1; transform: scale(1.1); } 
}

/* Entrada dos Blocos */
@keyframes slideIn { to { transform: translateX(0); opacity: 1; } }
@keyframes slideDown { to { transform: translateY(0); opacity: 1; } }
@keyframes slideUp { to { transform: translateY(0); opacity: 1; } }

/* Animação dos Toasts (Notificações) */
@keyframes toastSlideIn { to { transform: translateX(0); } }
@keyframes toastSlideOut { to { transform: translateX(120%); opacity: 0; } }

/* Classes de Animação */
.d-1 { transform: translateX(-50px); opacity: 0; animation: slideIn 0.8s forwards 0.2s; }
.d-2 { transform: translateY(-30px); opacity: 0; animation: slideDown 0.8s forwards 0.4s; }
.d-3 { transform: translateY(50px); opacity: 0; animation: slideUp 0.8s forwards 0.6s; }