* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif; 
    user-select: none; 
}

body {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    background-color: #050505; /* Fundo base */
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* Remove barra de rolagem padrão */
::-webkit-scrollbar { width: 0px; }